<html>
    <header>
        <title>URL Shortener Microservice</title>

        <style>
            html {
                margin: 0 auto;
                padding: 0
            }
            #content {
              margin: 0 auto;
            }
            h1 {
                margin: 50px auto;
                margin-left: 130px;
                font-weight: bold;
                font-size: 35px;
                color:blueviolet;
            }

            code {
                display: block;
                color:red;
                background-color: antiquewhite;
                margin-bottom: 5px;
                padding: 2px;
                border-radius: 4px;
                opacity: 0.8;
             
            }

            code:nth-of-type(1) {
                width: 35%;
            }
            code:nth-of-type(2) {
                width: 33%;
            }
            code:nth-of-type(3) {
                width: 52%;
            }
            code:nth-of-type(4) {
                width: 24%;
            }
            code:nth-of-type(5) {
                width: 13%;
            }

        
        
        </style>


    </header>

    <body>
        <h1>FreeCodeCamp API Basejump: URL Shortener Microservice</h1>

        <div id='content'>
            <h2>Example creation usage:</h2>
            <code>https://nap-url-shortener.herokuapp.com/new/https://www.google.com</code>
            <code>https://nap-url-shortener.herokuapp.com/new/http://foo.com:80</code>

            <h2>Example creation output</h2>
            <code>{ "original_url":"http://foo.com:80", "short_url":"https://nap-url-shortener.herokuapp.com/8170" }</code>

            <h2>Usage:</h2>
            <code>https://nap-url-shortener.herokuapp.com/2871</code>

            <h2>Will redirect to:</h2>
            <code>https://www.google.com/</code>

        </div>



    </body>



</html>